DATABASE_DIALECT='postgres'
DATABASE_HOST='xx'
DATABASE_USERNAME='xx'
DATABASE_NAME='xx'
DATABASE_PASSWORD='xx'
DATABASE_PORT='5432'
jwtSecrete =
jwtExpires = 1d
bcryptSalt = 10
NODE_ENV='development'
