DATABASE_DIALECT='postgres'
DATABASE_HOST='xx'
DATABASE_USERNAME='xx'
DATABASE_NAME='xx'
DATABASE_PASSWORD='xx'
DATABASE_PORT='5432'
jwtSecrete =
jwtExpires = 1d
bcryptSalt = 10
NODE_ENV='development'
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=pi_key
CLOUDINARY_API_SECRET=api_secret